<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="VocabularyTestSettings" type="VocabularyTest.Configuration.VocabularyTestSettings, VocabularyTest" allowExeDefinition="MachineToLocalUser" />
    </configSections>
    <VocabularyTestSettings>
        <view local_code="ru-RU" warning_change_language="true" palette_mode="ProfessionalSystem">
            <size width="800" height="600" />
            <visible tool_bar="true" status_bar="true" />
            <use_grade_colors enabled="true">
                <colors>
                    <clear />
                    <add level="0" color="Black" />
                    <add level="1" color="Red" />
                    <add level="2" color="Orange" />
                    <add level="3" color="Yellow" />
                    <add level="4" color="Green" />
                    <add level="5" color="SkyBlue" />
                    <add level="6" color="Blue" />
                    <add level="7" color="Violet" />
                </colors>
            </use_grade_colors>
        </view>
        <folders>
            <spelling>
                <clear />
                <add name="%APP%" />
            </spelling>
        </folders>
    </VocabularyTestSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="Postgres" connectionString="Server=localhost;Port=5432;Database=vocabulary_test;User Id=postgres;Password=ezYIwI6zWm;" providerName="Npgsql" />
    </connectionStrings>
    <system.diagnostics> 
        <trace autoflush="true">
            <listeners>
                <add name="logListener" />
            </listeners>
        </trace>
        <sharedListeners>
            <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="None" initializeData="VocabularyTest.log">
                <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
            </add>
        </sharedListeners>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
